@font-face {
	font-family: 'PressStart2P';
	src: url('./pressstart2p.woff2') format('woff2'),
		url('./pressstart2p.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PressStart2P';
	src: url('./pressstart2p.woff2') format('woff2'),
		url('./pressstart2p.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
